.App {
    display: flex;
    flex-direction: column;
    background-color: #22254b;
  color: rgb(104, 104, 104);
  font-family: "Poppins",sans-serif;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: #373b69;
  background-repeat: no-repeat;
  background-size: 82%;
  background-position-y: 850px;
  background-position-x: -80px;
  background-size: 120%;
  }

  .movielist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* .details {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: xx-large;
  } */
  
  .details p{
    color: #f3f3f3;
    
  }
